
<section class="about-us-section" id="about-us">
  <div class="about-us-content-wrap container">
    <img class="about-desktop-1" src="./img/desktop/about-desktop-1.png" alt="">
    <img class="about-desktop-2" src="./img/desktop/about-desktop-2.png" alt="">
    <div class="about-us-main">
      <h2 class="about-us-title">What We Do</h2>
      <p class="about-us-subtitle">Turn User Friction into Flow</p>
      <div class="about-us-text-wrap">
        <p class="about-us-text">
          Clickerse is a fully online consulting service specializing in click
          behavior analytics, UX improvement, and interaction design feedback. We
          work with your real product data—screen recordings, session replays, and
          UI prototypes—to deliver actionable strategies that elevate your user
          experience.
        </p>
        <p class="about-us-text">
          Whether you're preparing to launch, stuck with low conversion rates, or
          unsure where users are falling off, we help you see the path clearly.
        </p>
      </div>
    </div>
  </div>
</section>