<section class="cases-section" id="cases">
  <div class="cases-content-wrap container">
    <h2 class="cases-title">Case Snapshots</h2>
    <p class="cases-subtitle">Proven, Remote, Effective</p>
    <ul class="cases-list">
      <li class="cases-list-item">
        <h4 class="caces-list-title">SaaS Onboarding Flow:</h4>
        <p class="cases-list-text"><span class="percent">47% </span>increase in trial completion</p>
      </li>
      <li class="cases-list-item">
        <h4 class="caces-list-title">Mobile App Landing Page:</h4>
        <p class="cases-list-text">Cut bounce rate by <span class="percent">31%</span></p>
      </li>
      <li class="cases-list-item">
        <h4 class="caces-list-title">E-commerce PDP:</h4>
        <p class="cases-list-text">Boosted add-to-cart CTR by <span class="percent">22%</span></p>
      </li>
      <li class="cases-list-item">
        <p class="cases-list-text">
          <span class="caces-list-title">Figma Review for MVP Launch: </span
          >“Fastest expert feedback we ever received”
        </p>
      </li>
    </ul>
  </div>
</section>
