<section class="clients-section" id="clients">
  <div class="clients-content-wrap container">
    <h2 class="clients-title">Who We Work With</h2>
    <p class="clients-subtitle">For Makers, Movers, and Digital Builders</p>
    <ul class="clients-list">
      <li class="clients-list-item">
        <img src="./img/general/clients-star.png" alt="" class="clients-img">
        <p class="clients-text">Product designers needing a second UX eye</p>
      </li>
      <li class="clients-list-item">
        <img src="./img/general/clients-star.png" alt="" class="clients-img">
        <p class="clients-text">E-commerce brands chasing higher add-to-cart rates</p>
      </li>
      <li class="clients-list-item">
        <img src="./img/general/clients-star.png" alt="" class="clients-img">
        <p class="clients-text">Growth teams fighting bounce and churn</p>
      </li>
      <li class="clients-list-item">
        <img src="./img/general/clients-star.png" alt="" class="clients-img">
        <p class="clients-text">SaaS startups looking to improve onboarding</p>
      </li>
      <li class="clients-list-item">
        <img src="./img/general/clients-star.png" alt="" class="clients-img">
        <p class="clients-text">Marketing teams running A/B tests with unclear results</p>
      </li>
      <li class="clients-list-item">
        <img src="./img/general/clients-star.png" alt="" class="clients-img">
        <p class="clients-text">Founders needing quick feedback pre-launch</p>
      </li>
    </ul>
  </div>
</section>
