<section class="contact-section" id="contact">
  <div class="contact-content-wrap container">
    <div class="contact-inner">
      <div class="contact-headings">
        <h2 class="contact-title">Contact</h2>
        <p class="contact-subtitle">Learn How People Really Click</p>
      </div>

      <div class="contact-body">
        <p class="contact-text">
          Got a product to test or a UX bottleneck to fix?<br />
          Drop us a line at
          <a href="mailto:info@clickerse.site" class="contact-email">info@clickerse.site</a>
          or reach out via:
        </p>

        <div class="contact-icons">
          <a href="#"><img class="twit" src="./img/general/twitter.png" alt=""></a>
          <a href="#"><img class="linkedin" src="./img/general/linkedin.png" alt=""></a>
        </div>
      </div>

      <p class="contact-tags">#ClickStrategy #UXRemote #ClickerseFeedback</p>
      <p class="contact-company">Clickerse Strategy Experts LLC</p>
    </div>
  </div>
</section>
