<footer class="footer-section">
  <div class="footer-content container">
    <div class="footer-social-wrap">
      <div class="footer-socials">
        <p class="footer-follow-label">Follow us:</p>
        <a href="#"><img class="footer-icon" src="./img/general/twitter-black.png" alt="Twitter" /></a>
        <a href="#"><img class="footer-icon" src="./img/general/linkedin-black.png" alt="LinkedIn" /></a>
      </div>
      <p class="footer-contact">
        Contact: <a class="footer-email" href="mailto:info@clickerse.site">info@clickerse.site</a>
      </p>
    </div>

    <p class="footer-rights">
      © 2025 Clickerse Strategy Experts LLC. All rights reserved.
    </p>

    <ul class="footer-links">
      <li><a href="./privact.html" class="footer-link">Privacy Policy</a></li>
      <li><a href="./terms.html" class="footer-link">Terms of Service</a></li>
      <li><a href="./cookies.html" class="footer-link">Cookie Policy</a></li>
    </ul>
  </div>
</footer>


