<section class="home-section" id="home">
  <div class="home-content-wrap container">
    <h1 class="home-title">The Clicks You’re Missing</h1>
    <p class="home-subtitle">We Decode Your Clicks. Online. On Point.</p>
    <p class="home-text">
      Clickerse helps you identify and fix the moments where users hesitate,
      bounce, or abandon. We offer remote-first UX strategy consulting focused
      on making your digital experience smoother, sharper, and more clickable.
    </p>
    <div class="home-btn-wrap">
      <a class="home-discovery" href="#">Schedule a Free Discovery Call</a>
      <a class="home-services" href="#" >View Services Overview</a>
    </div>
  </div>
</section>
