<section class="how-it-works-section" id="how-it-works">
  <div class="how-it-works-content-wrap container">
    <h2 class="how-it-works-title">How It Works</h2>
    <p class="hiw-subtitle">Simple. Fast. Insightful.</p>
    <div class="hiw-list-wrapper">
      <ul class="hiw-list-digit">
        <li class="hiw-list-digit-item">
          <div class="digit-wrap">
            <img
              src="./img/general/digit-1.png"
              alt=""
              class="hiw-list-digit-number"
            />
            <p class="hiw-number">1</p>
          </div>
          <div class="line">
            <img class="hiw-line" src="./img/general/line.png" alt="" />
            <img class="desktop-hiw-line" src="./img/desktop/desktop-line.png" alt="">
          </div>
        </li>
        <li class="hiw-list-digit-item">
          <div class="digit-wrap">
            <img
              src="./img/general/digit-1.png"
              alt=""
              class="hiw-list-digit-number"
            />
            <p class="hiw-number">2</p>
          </div>
          <div class="line">
            <img class="hiw-line" src="./img/general/line.png" alt="" />
            <img class="desktop-hiw-line" src="./img/desktop/desktop-line.png" alt="">
          </div>
        </li>
        <li class="hiw-list-digit-item">
          <div class="digit-wrap">
            <img
              src="./img/general/digit-1.png"
              alt=""
              class="hiw-list-digit-number"
            />
            <p class="hiw-number">3</p>
          </div>
          <div class="line">
            <img class="hiw-line" src="./img/general/line.png" alt="" />
            <img class="desktop-hiw-line" src="./img/desktop/desktop-line.png" alt="">
          </div>
        </li>
        <li class="hiw-list-digit-item">
          <div class="digit-wrap">
            <img
              src="./img/general/digit-1.png"
              alt=""
              class="hiw-list-digit-number"
            />
            <p class="hiw-number">4</p>
          </div>
          <div class="line">
            <img class="hiw-line" src="./img/general/line.png" alt="" />
            <img class="desktop-hiw-line" src="./img/desktop/desktop-line.png" alt="">
          </div>
        </li>
        <li class="hiw-list-digit-item">
          <div class="digit-wrap">
            <img
              src="./img/general/digit-1.png"
              alt=""
              class="hiw-list-digit-number"
            />
            <p class="hiw-number">5</p>
          </div>
          <div class="line"></div>
        </li>
      </ul>
      <ul class="hiw-list">
        <li class="hiw-list-item">
          <img class="vertical-line vertical-line-1 " src="./img/desktop/vertical-line.png" alt="">
          <div class="hiw-list-text-wrapper hiw-list-text-wrapper-1">
            <h3 class="hiw-list-title">Choose a Plan or Book a Call</h3>
            <p class="hiw-list-text">
              Start with what you need, from a single review to full flow consulting
            </p>
          </div>
        </li>
        <li class="hiw-list-item">
          <img class="vertical-line vertical-line-2" src="./img/desktop/vertical-line-2.png" alt="">
          <div class="hiw-list-text-wrapper hiw-list-text-wrapper-2">
            <h3 class="hiw-list-title">Submit Your Screens or Recordings</h3>
            <p class="hiw-list-text">
              We accept Figma links, Looms, Hotjar exports, or any screen capture
            </p>
          </div>
        </li>
        <li class="hiw-list-item">
          <img class="vertical-line vertical-line-3" src="./img/desktop/vertical-line.png" alt="">
          <div class="hiw-list-text-wrapper hiw-list-text-wrapper-3">
            <h3 class="hiw-list-title">You Get Actionable Feedback</h3>
            <p class="hiw-list-text">
              As a document, video report, or live session
            </p>
          </div>
        </li>
        <li class="hiw-list-item">
          <img class="vertical-line vertical-line-4" src="./img/desktop/vertical-line-2.png" alt="">
          <div class="hiw-list-text-wrapper hiw-list-text-wrapper-4">
            <h3 class="hiw-list-title">We Analyze the Clicks</h3>
            <p class="hiw-list-text">
              Using behavior tools, research, and experience
            </p>
          </div>
        </li>
        <li class="hiw-list-item extra-margin">
          <img class="vertical-line vertical-line-5" src="./img/desktop/vertical-line.png" alt="">
          <div class="hiw-list-text-wrapper hiw-list-text-wrapper-5">
            <h3 class="hiw-list-title">Optional Follow-up Support</h3>
            <p class="hiw-list-text">Continue with A/B strategy or UX iterations</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
