<section class="remote-section" id="remote">
  <div class="remote-content-wrap container">
    <div class="remote-wrapper">
      <img class="remote-desktop-1" src="./img/desktop/remote-1.png" alt="">
      <img class="remote-desktop-2" src="./img/desktop/remote-2.png" alt="">
      <div class="remote-card">
        <h2 class="remote-title">Remote, Not Removed</h2>
        <p class="remote-subtitle">Human Consulting, Digital Channel</p>
        <p class="remote-text">
          We’re remote, but never distant. Every client gets personalized
          attention, thoughtful insights, and direct interaction with a
          strategist. No ticket systems. No hidden junior teams. Just honest
          feedback and sharp strategy, made to fit remote work
        </p>
      </div>
    </div>
  </div>
</section>
