<section class="services-section" id="services">
  <div class="services-content-wrap container">
    <h2 class="services-title">Core Services</h2>
    <p class="services-subtitle">Remote UX and Click Strategy—Delivered Fast</p>
    <div class="services-lists-wrap">
      <ul class="services-list service-1">
        <li class="services-list-item">
          <div class="left-side hidden-side">
            <img class="desktop-side" src="./img/desktop/desktop-left-side.png" alt="" />
          </div>
          <div class="service-list-wrap">
            <h3 class="services-list-title">Click Surgery</h3>
            <p class="services-list-text">
              45-minute deep-dives on your worst-performing page
            </p>
          </div>
          <div class="right-side">
            <img
              class="services-mobile-right-side"
              src="./img/mobile/right-side.png"
              alt=""
            />
          </div>
        </li>
        <li class="services-list-item">
          <div class="left-side">
            <img
              class="services-mobile-left-side"
              src="./img/mobile/left-side.png"
              alt=""
            />
          </div>
          <div class="service-list-wrap">
            <h3 class="services-list-title">Behavioral Reporting</h3>
            <p class="services-list-text">
              Interpreting analytics into human-centered strategy
            </p>
          </div>
          <div class="right-side hidden-side">
            <img class="desktop-side" src="./img/desktop/desktop-right-side.png" alt="" />
          </div>
        </li>
      </ul>
      <ul class="services-list service-2">
        <li class="services-list-item">
          <div class="left-side hidden-side"><img class="desktop-side" src="./img/desktop/desktop-left-half.png" alt=""></div>
          <div class="service-list-wrap">
            <h3 class="services-list-title">Clickflow Audits</h3>
            <p class="services-list-text">
              Full reviews of your user journeys via session recordings and
              heatmaps
            </p>
          </div>
          <div class="right-side">
            <img
              class="services-mobile-right-side"
              src="./img/mobile/right-side.png"
              alt=""
            />
            
          </div>
        </li>
        <li class="services-list-item">
          <div class="left-side">
            <img
              class="services-mobile-left-side"
              src="./img/mobile/left-side.png"
              alt=""
            />
          </div>
          <div class="service-list-wrap">
            <h3 class="services-list-title">UX Jam Sessions</h3>
            <p class="services-list-text">
              Real-time live consulting via Zoom or Google Meet
            </p>
          </div>
          <div class="right-side hidden-side"></div>
        </li>
        <li class="services-list-item">
          <div class="left-side hidden-side"></div>
          <div class="service-list-wrap">
            <h3 class="services-list-title">Figma Reviews</h3>
            <p class="services-list-text">
              Voice-over walkthroughs of your UI with expert feedback
            </p>
          </div>
          <div class="right-side">
            <img class="desktop-side" src="./img/desktop/desktop-right-half.png" alt="">
            <img
              class="services-mobile-right-side"
              src="./img/mobile/right-side.png"
              alt=""
            />
          </div>
        </li>
      </ul>
      <ul class="services-list service-3">
        <li class="services-list-item-2">
          <div class="left-side hidden-side">
            <img class="desktop-side" src="./img/desktop/desktop-left-side.png" alt="" />
          </div>
          <div class="left-side">
            <img
              class="services-mobile-left-side"
              src="./img/mobile/left-side.png"
              alt=""
            />
          </div>
          <div class="service-list-wrap">
            <h3 class="services-list-title">Retention Reviews</h3>
            <p class="services-list-text">
              Audit why users don’t return and how to improve stickiness
            </p>
          </div>
          <div class="right-side hidden-side"></div>
        </li>
        <li class="services-list-item-2">
          <div class="service-list-wrap">
            <h3 class="services-list-title">Asynchronous Coaching</h3>
            <p class="services-list-text">
              UX and CRO feedback delivered in short video reports
            </p>
          </div>
          <div class="right-side">
            <img
              class="services-mobile-right-side"
              src="./img/mobile/right-side.png"
              alt=""
            />
            <img class="desktop-side" src="./img/desktop/desktop-right-side.png" alt="" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
