<section class="testimonials-section" id="testimonials">
  <div class="testimonials-content-wrap container">
    <h2 class="testimonials-title">What Our Clients Say</h2>
    <p class="test-subtitle">Real Client Feedback</p>
    <div class="test-swiper swiper">
      <ul class="test-swiper-wrapper swiper-wrapper">
        <li class="test-swiper-slide swiper-slide">
          <div class="swiper-content-wrap">
            <p class="swiper-text">
               “Clickerse gave me expert UI feedback in 48 hours. Their Loom
              video uncovered three critical blockers I had missed in my own
              Figma review. I was able to improve our flow instantly.”
              <br /><br />
              <span class="test-name">Michael L.</span>
              <span class="position">— Product Designer</span>
            </p>
          </div>
        </li>
        <li class="test-swiper-slide swiper-slide">
          <div class="swiper-content-wrap">
            <p class="swiper-text">
               “We didn’t have the budget for a big UX team, but Clickerse acted
              like one. Their clickflow audit helped us rework two key pages and
              our trial activation shot up.”
              <br /><br />
              <span class="test-name">Natasha G</span>
              <span class="position">— SaaS Founder</span>
            </p>
          </div>
        </li>
        <li class="test-swiper-slide swiper-slide">
          <div class="swiper-content-wrap">
            <p class="swiper-text">
               “We were running A/B tests but didn’t know how to interpret the
              results. Clickerse helped us extract the why behind the behavior,
              not just the numbers. Now we test with purpose.”
              <br /><br />
              <span class="test-name">Jared M.</span>
              <span class="position">— Marketing Director</span>
            </p>
          </div>
        </li>
        <li class="test-swiper-slide swiper-slide">
          <div class="swiper-content-wrap">
            <p class="swiper-text">
              “The Click Surgery session was incredibly valuable. In 45 minutes,
              we identified five actionable changes. And they didn’t just tell
              us what to do—they showed us why.”
              <br /><br />
              <span class="test-name">Elisa T.</span
              ><span class="position"> — Growth Manager, E-Com</span>
            </p>
          </div>
        </li>
      </ul>

      <div class="test-btn-wrap">
        <button class="oh-button-left">
          <img src="./img/mobile/swiper-left.png" alt="" />
        </button>
        <button class="oh-button-right">
          <img src="./img/mobile/swiper-right.png" alt="" />
        </button>
      </div>
    </div>
  </div>
</section>
