<section class="why-us-section" id="why-us">
  <div class="why-us-content-wrap container">
    <h2 class="why-us-title">Why Clickerse?</h2>
    <p class="why-us-subtitle">Specialized, Focused, Remote</p>
    <p class="why-us-text">
      Clickerse isn’t a design agency or a generic growth team—we're a tight
      collective focused entirely on how humans interact with digital
      interfaces. We:
    </p>
    <ul class="why-us-list">
      <li class="why-us-list-item">
        <img src="./img/general/why-us-1.png" alt="" class="why-us-img" />
        <p class="why-us-list-text">
          Operate 100% remotely for fast, flexible engagements
        </p>
      </li>
      <li class="why-us-list-item">
        <img src="./img/general/why-us-2.png" alt="" class="why-us-img" />
        <p class="why-us-list-text">
          Work asynchronously or live based on your schedule
        </p>
      </li>
      <li class="why-us-list-item">
        <img src="./img/general/why-us-3.png" alt="" class="why-us-img" />
        <p class="why-us-list-text">
          Bring behavioral science into practical UX advice
        </p>
      </li>
      <li class="why-us-list-item">
        <img src="./img/general/why-us-4.png" alt="" class="why-us-img" />
        <p class="why-us-list-text">
          Avoid fluff, templates, or vanity metrics
        </p>
      </li>
    </ul>
    <p class="why-us-notes">
       We focus on outcomes: higher engagement, better retention, and smoother
      flows.
    </p>
  </div>
</section>
