.services-content-wrap {
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
  @include media(desktop) {
    padding-bottom: 120px;
    overflow: hidden;
  }
}

.services-subtitle {
  margin-top: 12px;
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  color: #010022;
}

.services-lists-wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 40px;
  @include media(desktop) {
    justify-content: center;
    align-items: flex-start;
    gap: 26px;
  }
}

.services-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
  position: relative;
  width: calc(100% + 32px);
  transform: translateX(-16px);
  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    width: calc(100% + 240px);
    transform: translateX(-120px);
    gap: 0;
  }
}

.services-list-item,
.services-list-item-2 {
  display: flex;
  gap: 15px;
  @include media(desktop) {
  }
}

.services-list-item-2:nth-child(even) {
  margin-left: 12px;
  @include media(desktop) {
    margin: 0;
  }
}

.services-list-item:nth-child(odd) {
  margin-left: 12px;
  @include media(desktop) {
    margin: 0;
  }
}

.services-list-item:nth-child(even) {
  margin-right: 12px;
  @include media(desktop) {
    margin: 0;
  }
}

.service-list-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;

  border: 1px solid #8ba7b8;
  border-radius: 32px;
  padding: 12px 16px;
  width: 288px;
  @include media(desktop) {
    width: 380px;
    height: 100%;
    gap: 16px;
  }
}

.services-mobile-right-side,
.services-mobile-left-side {
  height: 100%;
  @include media(desktop) {
    display: none;
  }
}

.desktop-side {
  display: none;
  @include media(desktop) {
    display: block;
    height: 100%;
  }
}

.hidden-side {
  display: none;
  @include media(desktop) {
    display: block;
  }
}

.services-list-title {
  font-weight: 600;
  font-size: 20px;
  color: #04015c;
  @include media(desktop) {
    font-size: 24px;
  }
}

.services-list-text {
  font-weight: 400;
  font-size: 16px;
  color: #010022;
  @include media(desktop) {
    font-size: 20px;
    
  }
}

.service-3 {
  @include media(desktop) {

  }

}

.service-3 .services-list-item-2 {
  @include media(desktop) {
    height: 100%;
    max-height: 186px;
  }
}
