@import './header.scss';
@import './home.scss';
@import './services.scss';
@import './how-it-works.scss';
@import './about-us.scss';
@import './testimonials.scss';
@import './contact.scss';
@import './clients.scss';
@import './why-us.scss';
@import './cases.scss';
@import './subscribe.scss';
@import './remote.scss';
@import './cookies-modal.scss';
@import './footer.scss';
@import './cpt.scss';

.container {
  max-width: 375px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  @include media(desktop) {
    max-width: 1440px;
    padding-left: 120px;
    padding-right: 120px;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #000;
}

h1 {
  font-weight: 400;
  font-size: 48px;
  text-align: center;
  color: #04015c;
  @include media(desktop) {
    font-size: 64px;
  }
}

h2 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: #04015c;
  @include media(desktop) {
    font-size: 40px;
  }
}
